langchain
langgraph
langchain-core
langchain-groq
langchain-chroma
langchain-community
langchain-huggingface
sentence-transformers
tavily-python
streamlit
pymupdf
docx2txt
python-dotenv
fastapi
uvicorn
python-multipart
langgraph-checkpoint-sqlite

